.container{
width: 960px;
padding-inline: 10px;
margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #696969;
    padding-bottom: 19px;

}
.first{
   
    width: 122px;
    height: 108px;
    
}
.second{
    background-color: #777777;
    width: 279px;
    height: 108px;
   
}
.third{
    background-color: #777777;
    width: 513px;
    height: 108px;
    margin-right: 1px;
}
.decor{
    text-decoration: underline;
}

.text1{
    padding-right: 22px;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: right;
}
.left{
    position:relative;
    display: block;
    width: 184px;
    height: 800px;
}
.left1{
    background-color: #777777;
    width: 184px;
    height: 335px;
    margin-top: 22px;
}
.left2{
    position:absolute;
	bottom:0;
    background-color: #777777;
    width: 184px;
    height: 132px;
    margin-bottom: 6px
}
.text2{
    list-style: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 13px;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 17px;
}
.right{
    position:relative;
    display: block;
    width: 757px;
    height: 800px;
}
.right1{
    background-color: #DCDCDC;
    width: 756px;
    height: 200px;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #777777;
    padding-top: 10px;
    margin-top: 22px;
    margin-left: 1px;
}
.psdfile{
    padding-bottom: 0px;
    margin-top: 7px;
    margin-left: 20px;
}
.psdlist{
    margin-top: 21px; 
    margin-left: 20px;
}
.right2{
    width: 780px;
    height: 325px;
    margin: 10px;
    margin-left: -10px;
    margin-top: 9px;
    flex-wrap: wrap;
    display: flex;
}
.sevenblocks{
    
    margin: 11px;
    width: 134px;
    height: 151px;
    
}
.right3{
    justify-content: space-between;
    display: flex;
    margin-top: 28px;
    margin-left: 1px;
}
.block8{
    
    background-color: #dcdcdc;
    padding-left: 18px;
    height: 183px;
    width: 350px;
    padding-top: 17px;
    
    position: relative;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #777777;
}
.block9{
    
    background-color: #dcdcdc;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 17px;
    height: 183px;
    width: 351px;

    position: relative;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #777777;
}
footer{
    width: 960px;
    margin: 0 auto;
    padding-inline: 10px;
}
.footer-wrapper{
    display: flex;
    gap: 27px;
    justify-content: space-between;
}
.footer1, .footer2 {
    background-color: #777777;
    width: 297px;
    height: 180px;
    margin-left: 1px;
    margin-top: 23px;

}
.footer2{
    margin-right: 1px;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}
.footer3{
    display: block;
    justify-content:space-around;
    margin-right: 1px;
}
.block12{
    
    background-color: #777777;
    width: 308px;
    height: 75px;
    margin-top: 23px;
    
}
.block13{
    width: 308px;
    height: 75px;
    margin-top: 30px;
}
.seo{
    list-style: square;
    padding-left: 37px;
}
